
<div class="container">
	<h1 class="text-danger"><span class="fa fa-github"></span> Repos</h1>
	<div class="panel-group" id="accordion" ng-repeat="repo in repodata">
	  <div class="panel panel-default">
	    <div class="panel-heading">
	      <h4 class="panel-title">
	        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
	        {{repo.name}} - {{repo.description}}</a>
	        
	      </h4>
	    </div>
	    <div id="collapse1" class="panel-collapse collapse in">
	      <div class="panel-body">
	      	<a href="{{repo.html_url}}">{{repo.name}}</a>
	      	<p>Full Name: {{repo.full_name}}</p>
	      	<p>Created At: {{repo.created_at | date}}</p>
	      	<p>Last Updated At: {{repo.updated_at | date}}</p>
	      	<button   type="button" class="btn btn-danger fa fa-minus" ng-click="deleteRepository(repo.name)"> Delete</button>
	      </div>
	    </div>
	</div>
</div>
</div>